@model CleanArchitecture.Application.ViewModels.AlterUserPasswordViewModel


<form asp-area="Admin" id="changePasswordForm" asp-controller="Moderators" asp-action="ChangePassword" method="post" asp-route-userId="@Model.UserId">
    <input type="hidden" asp-for="UserId">

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label">New Password</label>
        <input class="form-control" asp-for="NewPassword" placeholder="Enter new password">
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
        <input class="form-control" asp-for="ConfirmPassword" placeholder="Enter confirm new password">
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>
<script>
    $("#changePasswordForm").submit(function (e) {
        e.preventDefault();
        if ($("#changePasswordForm").valid()) {
            ldld.on();
            $.ajax({
                url: $(this).attr('action'),
                type: 'Post',
                data: $(this).serialize(),
                success: function (result) {
                    ldld.off();
                    if (result.success) {
                        Swal.fire("Password Changed Successfully.");
                    } else {
                        Swal.fire(result.message);
                    }
                },
                error: function (error) {
                    ldld.off();
                    alert('something goes wrong!');
                }

            });
        }
    });
</script>