@model string 
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}


<div class="page-content">
<div class="container-fluid">

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0"> Game</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Game</a></li>
                    <li class="breadcrumb-item active">Error</li>
                </ol>
            </div>

        </div>
    </div>
</div>
</div>
</div>
<div class="text-center">
    <h2>@Model </h2>

</div>
